* {
    font-size: 1.1rem;
}

body {
    margin: 0;

    color: white;
    background-color: #202020;
    height: 100vh;
    overflow: hidden;
}

.center-horizontal {
    display: flex;
    justify-content: center;
}

#canvasDiv {
    position: relative;
}

canvas {
    display: block;
    image-rendering: pixelated;
}

#toolbar {
    display: flex;
    background-color: purple;
    justify-content: center;
}

.sidebar {
    position: fixed;
    right: 0;
    top: 0;
    width: 10%;

    flex-direction: column;
}

.bottombar {
    position: fixed;
    left: 5%;
    bottom: 0;
    width: 90%;
    padding-top: 5px;
    padding-bottom: 5px;

    flex-wrap: wrap;
    row-gap: 2px;
    column-gap: 5px;
}

.break {
    flex-basis: 100%;
    height: 0;
}

input[type="number"] {
    width: 2.5rem;
    font-size: 1rem;
}

.sidebar>#rowColDiv {
    display: grid;
    grid-template-columns: repeat(auto-fill, 3rem);
    justify-content: center;
}

.sidebar>#rowColDiv>#rowLabel {
    grid-column: 1;
}

.sidebar>#rowColDiv>#colLabel {
    grid-column: 1;
}

.bottombar>#rowColDiv>#rowColBreak {
    display: inline;
}

.sidebar>#rowColDiv>#rowColBreak {
    display: block;
}

input[type="text"] {
    position: absolute;
    background: transparent;
    text-align: center;
    border: 0.5px solid white;
    outline: none;
    padding: 0;
    font-family: sans-serif;
    color: white;
    box-sizing: border-box;
}

#help {
    position: absolute;
    top: 5vh;
    left: 10vw;
    width: 80%;
    max-height: 80%;
}

p {
    display: none;
    background-color: midnightblue;
    white-space: pre-line;
    margin: 0;
    padding: 20px;
    font-family: sans-serif;
    overflow: auto;
}